@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans:400|Quattrocento:400");

body {
  font-family: "Quattrocento Sans", sans-serif;
  color: rgb(226, 223, 218);
  background-color: rgb(38, 38, 38);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quattrocento", serif;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(234, 229, 224);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 43);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(45, 45, 43, 0.8);
}

/* FILTER */
.underline {
  height: 2px;
  width: 50%;
  background-color: #198754;
}
/* COCKTAIL */
.card {
  border: transparent;
  width: 80%;
  margin: 0 auto;
}

.card-body {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* COCKTAIL INFO */
.arrow {
  color: white;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.arrow:hover {
  color: rgb(217, 215, 215);
}

.drink-img {
  object-fit: cover;
  width: 80%;
  max-height: 30rem;
}

@media screen and (min-width: 576px) {
  /* COCKTAIL */
  .card {
    width: 100%;
  }

  a:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) {
  /* COCKTAIL INFO */
  .drink-img {
    width: 50%;
  }
}
